:root {
  --color-theme: #4047d6;
  --color-balck: #000000;
  --color-white: #ffffff;
  --color-content: rgba(0, 0, 0, 0.6);
  --color-content-white: rgba(255, 255, 255, 0.6);
  --color-coupon: rgba(241, 171, 62, 1);
  --color-des: rgba(0, 0, 0, 0.3);
  --space-side: 0.4rem;
  --space-top: 0.6rem;
  --space-bottom: 0.6rem;
  --padding-fixed-bottom: 1.8rem; // .6 + .4 + .8
  --background-grey: #f1f2f5;
}
